{# page.php #}

{% extends 'Layouts/base.twig' %}

{% block content %}
  <article class="main main-type-{{post.post_type}} container" id="main-{{post.ID}}">
    <header class="main__heading">
      <div class="heading">
        <h1 class="heading__title">
          {{post.title}}
        </h1>
      </div>
      
      <div class="chapo">
        <div class="chapo__illu">
          TODO: chapo__illu
          <img href="{{Image(0) | resize(1200)}}" alt="{{__('Visuel du spectacle') ~ ' ' ~ post.title}}">
        </div>
        <div class="chapo__content">
          <div class="chapo__intro">
            TODO: chapo__intro
          </div>
          <div class="chapo__text">
            TODO: chapo__text
          </div>
        </div>
      </div>

      <aside>
        <div class="main__gallery">
        <div class="gallery">
          TODO: gallery
        </div>
        </div>
      </aside>
    </header>

    <main class="main__content">
      {{post.content}}
    </main>

    <aside class="main__calendar">
      <div class="calendar">
        TODO: post-calendar
      </div>
    </aside>

    <footer class="main__footer">
      <a href="#" class="button">TODO: Link to Dossier</a>
    </footer>
  </article>
{% endblock %}
