<div class="chapo">
  <div class="chapo__illustration">
    <img class="chapo__image" src="{{chapo__illustration.src | resize(460, 580, false)}}" alt="{{chapo__illustration.alt}}">
    <p class="chapo__caption">{{chapo__caption}}</p>
    
  </div>

  <div class="chapo__content">
    <p class="chapo__intro">{{chapo__intro}}</p>
    <p class="chapo__text">{{chapo__text}}</p>
    <a href="#calendrier" class="chapo__link button">{{__('Venir Voir', 'skin')}}</a>
  </div>
</div>

<hr class="separator">
